<mat-toolbar color="primary">
  <div class="container">
    <div class="brand" [routerLink]="'/'">Demo</div>
    <div class="nav-actions">
      <button mat-button [routerLink]="'/'">Accueil</button>
      @if (authService.user(); as user) {
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          Welcome, {{ user.username }}
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item [routerLink]="'/profile'">
            <mat-icon>person</mat-icon>
            Profile
          </button>
          <button mat-menu-item (click)="authService.logout().subscribe()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      } @else {
        <button mat-button [routerLink]="'/login'">Login</button>
        <button mat-button [routerLink]="'/register'">Sign Up</button>
      }
    </div>
  </div>
</mat-toolbar>
