<mat-toolbar color="primary">
  <div class="container">
    <div class="brand" [routerLink]="'/'">Demo</div>
    <div class="nav-actions">
      @if (getUser(); as user) {
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
         Logged in as {{ user.username }}
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          @if (authService.hasRole('Administrator')) {
            <button mat-menu-item [routerLink]="'/admin'">
            <mat-icon>admin_panel_settings</mat-icon>
              Admin
            </button>
          }
          <button mat-menu-item [routerLink]="'/profile'">
            <mat-icon>person</mat-icon>
            Profile
          </button>
          <button mat-menu-item (click)="authService.logout().subscribe()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      } @else {
        <button mat-button [routerLink]="'/login'">Login</button>
        <button mat-button [routerLink]="'/register'">Sign Up</button>
      }
    </div>
  </div>
</mat-toolbar>
